.fade {
  animation: fade-in 0.5s both;
}
.fade[data-action=enter] {
  animation: fade-in 0.5s both;
}
.fade[data-action=leave] {
  animation: fade-out 0.5s both;
}
.fade[data-trigger=hover]:hover {
  animation: fade-out 0.5s both;
}
.fade[data-trigger=active]:active {
  animation: fade-out 0.5s both;
}
.fade[data-trigger=focus]:focus {
  animation: fade-out 0.5s both;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
