.slide-left {
  --duration: 0.5s;
  animation: slide-left-in var(--duration) both;
}
.slide-left[data-action=enter] {
  animation: slide-left-in var(--duration) both;
}
.slide-left[data-action=leave] {
  animation: slide-left-out var(--duration) both;
}
.slide-left[data-trigger=hover]:hover {
  animation: slide-left-out var(--duration) both;
}
.slide-left[data-trigger=active]:active {
  animation: slide-left-out var(--duration) both;
}
.slide-left[data-trigger=focus]:focus {
  animation: slide-left-out var(--duration) both;
}
@-moz-keyframes slide-left-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-left-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes slide-left-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-left-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes slide-left-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-70%);
  }
}
@-webkit-keyframes slide-left-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-70%);
  }
}
@-o-keyframes slide-left-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-70%);
  }
}
@keyframes slide-left-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-70%);
  }
}
