.zoom-bottom {
  --duration: 0.5s;
  animation: zoom-bottom-in var(--duration) both;
}
.zoom-bottom[data-action=enter] {
  animation: zoom-bottom-in var(--duration) both;
}
.zoom-bottom[data-action=leave] {
  animation: zoom-bottom-out var(--duration) both;
}
.zoom-bottom[data-trigger=hover]:hover {
  animation: zoom-bottom-out var(--duration) both;
}
.zoom-bottom[data-trigger=active]:active {
  animation: zoom-bottom-out var(--duration) both;
}
.zoom-bottom[data-trigger=focus]:focus {
  animation: zoom-bottom-out var(--duration) both;
}
@-moz-keyframes zoom-bottom-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
@-webkit-keyframes zoom-bottom-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
@-o-keyframes zoom-bottom-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
@keyframes zoom-bottom-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
@-moz-keyframes zoom-bottom-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@-webkit-keyframes zoom-bottom-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@-o-keyframes zoom-bottom-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
@keyframes zoom-bottom-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
