.row,
[class*=col-] {
    box-sizing: border-box;
    border: none;
}

.row {
    position: relative;
}

.row:not([class*=flex-]):before,
.row:not([class*=flex-])::after {
    clear: both;
    content: '';
    display: block;
}

[class*=flex-] {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*=col-] {
    float: left;
}

.row.flex-between {
    justify-content: space-between;
}

.row.flex-around {
    justify-content: space-around;
}

.row.flex-evenly {
    justify-content: space-evenly;
}

.row.flex-end {
    justify-content: flex-end;
}

.row.flex-start {
    justify-content: flex-start;
}

.row.flex-center {
    justify-content: center;
}

.row>.col-1 {
    width: calc(1 / 24 * 100%);
}

.row>.col-2 {
    width: calc(2 / 24 * 100%);
}

.row>.col-3 {
    width: calc(3 / 24 * 100%);
}

.row>.col-4 {
    width: calc(4 / 24 * 100%);
}

.row>.col-5 {
    width: calc(5 / 24 * 100%);
}

.row>.col-6 {
    width: calc(6 / 24 * 100%);
}

.row>.col-7 {
    width: calc(7 / 24 * 100%);
}

.row>.col-8 {
    width: calc(8 / 24 * 100%);
}

.row>.col-9 {
    width: calc(9 / 24 * 100%);
}

.row>.col-10 {
    width: calc(10 / 24 * 100%);
}

.row>.col-11 {
    width: calc(11 / 24 * 100%);
}

.row>.col-12 {
    width: calc(12 / 24 * 100%);
}

.row>.col-13 {
    width: calc(13 / 24 * 100%);
}

.row>.col-14 {
    width: calc(14 / 24 * 100%);
}

.row>.col-15 {
    width: calc(15 / 24 * 100%);
}

.row>.col-16 {
    width: calc(16 / 24 * 100%);
}

.row>.col-17 {
    width: calc(17 / 24 * 100%);
}

.row>.col-18 {
    width: calc(18 / 24 * 100%);
}

.row>.col-19 {
    width: calc(19 / 24 * 100%);
}

.row>.col-20 {
    width: calc(20 / 24 * 100%);
}

.row>.col-21 {
    width: calc(21 / 24 * 100%);
}

.row>.col-22 {
    width: calc(22 / 24 * 100%);
}

.row>.col-23 {
    width: calc(23 / 24 * 100%);
}

.row>.col-24 {
    width: calc(24 / 24 * 100%);
}

[class*=col-].offset-1 {
    margin-left: calc(1 / 24 * 100%);
}

[class*=col-].offset-2 {
    margin-left: calc(2 / 24 * 100%);
}

[class*=col-].offset-3 {
    margin-left: calc(3 / 24 * 100%);
}

[class*=col-].offset-4 {
    margin-left: calc(4 / 24 * 100%);
}

[class*=col-].offset-5 {
    margin-left: calc(5 / 24 * 100%);
}

[class*=col-].offset-6 {
    margin-left: calc(6 / 24 * 100%);
}

[class*=col-].offset-7 {
    margin-left: calc(7 / 24 * 100%);
}

[class*=col-].offset-8 {
    margin-left: calc(8 / 24 * 100%);
}

[class*=col-].offset-9 {
    margin-left: calc(9 / 24 * 100%);
}

[class*=col-].offset-10 {
    margin-left: calc(10 / 24 * 100%);
}

[class*=col-].offset-11 {
    margin-left: calc(11 / 24 * 100%);
}

[class*=col-].offset-12 {
    margin-left: calc(12 / 24 * 100%);
}

[class*=col-].offset-13 {
    margin-left: calc(13 / 24 * 100%);
}

[class*=col-].offset-14 {
    margin-left: calc(14 / 24 * 100%);
}

[class*=col-].offset-15 {
    margin-left: calc(15 / 24 * 100%);
}

[class*=col-].offset-16 {
    margin-left: calc(16 / 24 * 100%);
}

[class*=col-].offset-17 {
    margin-left: calc(17 / 24 * 100%);
}

[class*=col-].offset-18 {
    margin-left: calc(18 / 24 * 100%);
}

[class*=col-].offset-19 {
    margin-left: calc(19 / 24 * 100%);
}

[class*=col-].offset-20 {
    margin-left: calc(20 / 24 * 100%);
}

[class*=col-].offset-21 {
    margin-left: calc(21 / 24 * 100%);
}

[class*=col-].offset-22 {
    margin-left: calc(22 / 24 * 100%);
}

[class*=col-].offset-23 {
    margin-left: calc(23 / 24 * 100%);
}