.ball-three-scale {
    font-size: 10px;
    position: relative;
}

/* .ball-three-scale, */
.ball-three-scale:before,
.ball-three-scale:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation-fill-mode: both;
    animation: ball-three-scale 1.2s infinite ease-in-out;
}

.ball-three-scale:before {
    left: -3em;
    top: -3em;
    animation-delay: 0s;
}

.ball-three-scale:after {
    left: 1em;
    top: -3em;
    animation-delay: .6s;
}

.ball-three-scale:before,
.ball-three-scale:after {
    content: '';
    position: absolute;
}

@keyframes ball-three-scale {

    0%,
    80%,
    100% {
        box-shadow: 0 2em 0 -1.3em red;
    }

    40% {
        box-shadow: 0 2em 0 0 red;
    }
}