.ball-clip-rotate {
    font-size: 10px;
    border-radius: 100%;
    border: .2em solid red;
    border-bottom-color: transparent;
    height: 4em;
    width: 4em;
    background: 0 0 !important;
    display: inline-block;
    -webkit-animation: ball-clip-rotate .75s 0s linear infinite;
    animation: ball-clip-rotate .75s 0s linear infinite;
}

@keyframes ball-clip-rotate {
    0% {
        /* -webkit-transform: rotate(0) scale(1); */
        transform: rotate(0) scale(1);
    }

    100% {
        /* -webkit-transform: rotate(360deg) scale(1); */
        transform: rotate(360deg) scale(1);
    }
}