.ball-two-twining {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  width: 4em;
  height: 2em;
}
.ball-two-twining::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  content: '';
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgba(255,0,0,0.502);
  animation: ball-two-twining-left 2s infinite;
}
.ball-two-twining::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  content: '';
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgba(0,0,255,0.502);
  animation: ball-two-twining-right 2s infinite;
}
@-moz-keyframes ball-two-twining-left {
  0% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes ball-two-twining-left {
  0% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@-o-keyframes ball-two-twining-left {
  0% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes ball-two-twining-left {
  0% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    left: 100%;
    transform: translate(-50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    left: 0%;
    transform: translate(-50%, -50%) scale(1);
  }
}
@-moz-keyframes ball-two-twining-right {
  0% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    right: 50%;
    transform: translate(50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    right: 100%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    right: 50%;
    transform: translate(50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
  }
}
@-webkit-keyframes ball-two-twining-right {
  0% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    right: 50%;
    transform: translate(50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    right: 100%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    right: 50%;
    transform: translate(50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
  }
}
@-o-keyframes ball-two-twining-right {
  0% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    right: 50%;
    transform: translate(50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    right: 100%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    right: 50%;
    transform: translate(50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
  }
}
@keyframes ball-two-twining-right {
  0% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    right: 50%;
    transform: translate(50%, -50%) scale(1.5);
    animation-timing-function: ease-out;
  }
  50% {
    right: 100%;
    transform: translate(50%, -50%) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    right: 50%;
    transform: translate(50%, -50%) scale(0.5);
    animation-timing-function: ease-out;
  }
  100% {
    right: 0%;
    transform: translate(50%, -50%) scale(1);
  }
}
