.bar-scale,
.bar-scale:before,
.bar-scale:after {
  -webkit-animation: bar-scale 1s infinite ease-in-out;
  animation: bar-scale 1s infinite ease-in-out;
  width: 1em;
  height: 3em;
}
.bar-scale:before,
.bar-scale:after {
  background-color: inherit;
  position: absolute;
  top: 0;
  content: '';
}
.bar-scale:before {
  left: -1.5em;
  top: 50%;
  transform: translateY(-50%);
}
.bar-scale {
  position: relative;
  font-size: 10px;
  background-color: #f00;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.bar-scale:after {
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-moz-keyframes bar-scale {
  0%, 80%, 100% {
    height: 3em;
  }
  40% {
    height: 5em;
  }
}
@-webkit-keyframes bar-scale {
  0%, 80%, 100% {
    height: 3em;
  }
  40% {
    height: 5em;
  }
}
@-o-keyframes bar-scale {
  0%, 80%, 100% {
    height: 3em;
  }
  40% {
    height: 5em;
  }
}
@keyframes bar-scale {
  0%, 80%, 100% {
    height: 3em;
  }
  40% {
    height: 5em;
  }
}
