.bar-three-turn {
  position: relative;
  font-size: 10px;
  width: 0.6em;
  height: 2.4em;
  background-color: #f00;
  animation: bar-three-turn-pulse 1.5s infinite;
  animation-delay: 250ms;
  opacity: 0.2;
}
.bar-three-turn:before,
.bar-three-turn:after {
  content: '';
  position: absolute;
  display: block;
  height: 1.6em;
  width: 0.6em;
  background-color: inherit;
  top: 50%;
  transform: translateY(-50%);
  animation: bar-three-turn-pulse 1.5s infinite;
  opacity: 0.2;
}
.bar-three-turn:before {
  left: -1.2em;
}
.bar-three-turn:after {
  left: 1.2em;
  animation-delay: 500ms;
}
@-moz-keyframes bar-three-turn-pulse {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bar-three-turn-pulse {
  50% {
    opacity: 1;
  }
}
@-o-keyframes bar-three-turn-pulse {
  50% {
    opacity: 1;
  }
}
@keyframes bar-three-turn-pulse {
  50% {
    opacity: 1;
  }
}
