.ball-three-opacity {
  position: relative;
  font-size: 10px;
  animation: ball-three-opacity 2s infinite ease-in-out;
  animation-delay: 0.16s;
  background-color: #f00;
}
.ball-three-opacity:before,
.ball-three-opacity:after {
  content: '';
  position: absolute;
  background-color: inherit;
}
.ball-three-opacity,
.ball-three-opacity:before,
.ball-three-opacity:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.ball-three-opacity:before {
  left: -3em;
  animation: ball-three-opacity 2s infinite ease-in-out;
  animation-delay: 0s;
}
.ball-three-opacity:after {
  left: 3em;
  animation: ball-three-opacity 2s infinite ease-in-out;
  animation-delay: 0.32s;
}
@-moz-keyframes ball-three-opacity {
  0%, 40%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
@-webkit-keyframes ball-three-opacity {
  0%, 40%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
@-o-keyframes ball-three-opacity {
  0%, 40%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
@keyframes ball-three-opacity {
  0%, 40%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
